.slider-intro .slick-prev,
.slider-intro .slick-next {
  display: none !important;
}

.slider-intro .slick-prev,
.slider-intro .slick-next {
  display: none !important;
}

.slick-dots {
  position: unset !important;
}

.intro-container {
  width: 100%;
  margin: 0px -62px;
  /* background-image: url("../../../../public//assets/images/slider/slider-2.jpg"); */
  background-size: cover;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
}

.slider-intro .slick-list {
  height: 606px;
}

.intro {
  margin: 0px 12px;
}
